:root {
    --clr-primary: rgba(248, 242, 242, 1);
    --clr-secondary: rgba(30, 30, 30, 1);
    --clr-alternative: rgba(237, 7, 53, 1);
}

@media screen and (max-width: 900px) {
    /* Remove all images */
    img {
        display: none;
    }

    /* Header changes */
    .top-nav {
        justify-content: center;
    }

    #mobile-menu {
        display: block;
        cursor: pointer;
        transition: all ease .3s;
    }

    .top-nav-ul {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        margin: 10vh 0px 0px 0px;
        background-color: rgba(30, 30, 30, .97);
        z-index: 1;
    }

    .top-nav-li {
        text-align: center;
    }

    .top-nav-li a {
        margin: 0;
        padding: 0;
        color: var(--clr-primary);
    }

    .switches {
        margin: 0;
        padding: 0;
    }

    #dark-svg, #light-svg, .lang-span {
        margin: 0px 5px;
    }

    #switches-access {
        display: none;
    }

    /* Home changes */
    .home-info-wrapper {
        transform: translateY(5%);
    }

    #home-welcome {
        font-size: 3.5rem;
        text-align: center;
    }

    #home-name {
        font-size: 2rem;
        text-align: center;
    }

    #home-bio {
        text-align: center;
    }

    .home-buttons-wrapper {
        flex-direction: column;
    }

    #button-cv-link, #button-github-link, #button-linkedin-link {
        margin: 20px 0px;
    }

    /* Tools changes */
    #tools-title {
        font-size: 2.5rem;
    }

    .tools-wrapper {
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 20px;
    }

    .tools-wrapper > * > svg {
        width: 125%;
        height: 125%;
    }

    /* Projects changes */
    #projects-title {
        display: none;
    }

    .nerdowrk, .blackjack {
        margin: 0;
    }

    .nerdwork-info, .blackjack-info {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    #nerdwork-title, #blackjack-title {
        font-size: 1.5rem;
    }

    .nerdwork-links, .blackjack-links {
        flex-direction: column;
        align-items: center;
    }

    #nerdwork-github-link, #blackjack-github-link, #blackjack-play-link {
        margin: 7.5px 0px;
        width: 100%;
    }

    /* Footer changes */
    .bottom-nav-ul, .footer-social {
        display: none;
    }

    .footer-wrapper{
        margin: 0;
        justify-content: center;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .tools-wrapper > * > svg {
        width: 100%;
        height: 100%;
    }

    #switches-access {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 900px) {
    #switches-access {
        display: none;
    }

    .java-wrapper, .html-wrapper, .css-wrapper, .js-wrapper, .mysql-wrapper, .photoshop-wrapper {
        margin: 0px 25px;
    }

    .tools-wrapper > * > svg {
        width: 85%;
        height: 85%;
    }

    .nerdwork-info, .blackjack-info {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    .top-nav-ul {
        display: flex;
    }

    #switches-access {
        display: none;
    }

    #home-welcome {
        font-size: 3.5rem;
        text-align: center;
    }

    #home-name {
        font-size: 2rem;
        text-align: center;
    }

    #home-bio {
        text-align: center;
    }

    .home-buttons-wrapper {
        flex-direction: column;
    }

    #button-cv-link, #button-github-link, #button-linkedin-link {
        margin: 20px 0px;
    }

    #me-img {
        display: none;
    }

    #nerdwork-img, #blackjack-img {
        display: none;
    }

    #projects-title {
        display: none;
    }

    .nerdwork-info, .blackjack-info {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) { 

    #home-welcome {
        font-size: 3.25rem;
    }

    #home-name {
        font-size: 1.75rem;
    }

    #me-img {
        content: url("../images/mebw-stroke-white-resized-md.png");
    }

    .nerdwork-info, .blackjack-info {
        margin-left: 0;
        margin-right: 0;
    }

    #nerdwork-img, #blackjack-img {
        display: none;
    }
    
    #projects-title {
        display: none;
    }
}

@media (max-height: 800px) {
    #nerdwork-img, #blackjack-img {
        display: none;
    }

    #home-name, #home-bio {
        font-size: 1rem;
    }

    #home-welcome, #tools-title {
        font-size: 1.5rem;
        margin-top: 10vh;
        margin-bottom: 5px;
    }

    #me-img {
        content: url('../images/mebw-stroke-white-resized-md.png');
        margin-top: 100px;
    }

    #button-cv-link, #button-github-link, #button-linkedin-link {
        margin: 5px 5px;
    }

    #tools-title {
        margin-bottom: 30px;
    }

    .tools-wrapper {
        margin: 0;
    }

    .footer {
        margin-top: 20px;
        padding: 5px 0px;
    }

    .footer-wrapper {
        transform: translate(0);
    }

    #footer-copy {
        font-size: .8rem;
    }

    .home, .tools, .projects, .nerdwork, .blackjack, .footer {
        height: auto;
    }

    #nerdwork-title {
        margin-top: 20px;
    }

    #blackjack-title {
        margin-top: 70px;
    }
}