@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --clr-primary: rgba(248, 242, 242, 1);
    --clr-secondary: rgba(30, 30, 30, 1);
    --clr-alternative: rgba(237, 7, 53, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all ease .3s;
}

html {
    scroll-behavior: smooth;
}

body {
    width: auto;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-primary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Top navbar */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--clr-primary);
    z-index: 1;
    outline: 1px solid var(--clr-alternative);
}

#mobile-menu {
    display: none;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px 0px;
}

.top-nav-ul {
    display: flex;
    margin-left: 30px;
}

.top-nav-li a {
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0px 22px;
    font-size: .9rem;
    letter-spacing: 1px;
    color: var(--clr-secondary);
}

.top-nav-li a:hover {
    cursor: pointer;
    color: var(--clr-alternative) !important;
}

/* Switches */

.switches {
    transform: translateY(25%);
    display: flex;
    padding: 0px 22px;
    margin-right: 30px;
}

/* Dark mode switch */

.switches-dark, .switches-lang {
    display: flex;
    transform: translateY(-25%);
    margin-left: 30px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

/* Wrapper */

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: rgba(60, 60, 60, 1);
    display: block;
    border-radius: 100px;
    position: relative;
}

/* Circle */

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    width: 14px;
    height: 14px;
    background: var(--clr-primary);
    border-radius: 90px;
}

input:checked + label {
    background: var(--clr-alternative);
}

input:checked + label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
    background: var(--clr-primary);
}

/* Header svg & spans */

#dark-svg {
    margin-left: 15px;
    transform: translateY(20%);
}

#light-svg {
    margin-right: 10px;
}

.lang-span {
    color: var(--clr-secondary);
    margin: 0px 10px;
    transform: translateY(-15%);
}

/* Accessibility switch */

#switches-access {
    cursor: pointer;
    margin-left: 30px;
    padding: 3px 7px;
    border-radius: 5px;
    transform: translateY(-40%);
    background-color: var(--clr-secondary);
}

#access-span {
    color: var(--clr-primary);
}

#access-span:hover {
    color: var(--clr-alternative) !important;
}

.switches-access span {
    color: var(--clr-primary);
}

/* Home */

.home {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-info-wrapper {
    margin: 0px 25px;
}

#home-welcome {
    font-size: 5rem;
    color: var(--clr-secondary);
}

#home-name {
    font-size: 2.5rem;
    color: var(--clr-secondary);
}

#home-name span, #home-bio span {
    color: var(--clr-alternative);
}

.home-buttons-wrapper {
    display: flex;
    margin-top: 50px;
}

#button-cv-link, #button-github-link, #button-linkedin-link {
    cursor: pointer;
    margin-right: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .75px;
    font-weight: 600;
    text-align: center;
}

#button-cv-link {
    color: var(--clr-primary);
    background-color: var(--clr-alternative);
}

#button-github-link {
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
}

#button-linkedin-link {
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    outline: 1px solid var(--clr-secondary);
}

#me-img {
    margin-left: 50px;
    margin-right: 25px;
}

/* Tools */

.tools {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tools-title {
    font-size: 4rem;
    color: var(--clr-secondary);
    text-align: center;
}

#tools-title span {
    color: var(--clr-alternative);
}

.tools-wrapper {
    margin-top: 75px;
    width: 75vw;
    display: flex;
    justify-content: space-between;
}

.java-wrapper, .html-wrapper, .css-wrapper, .js-wrapper, .mysql-wrapper, .photoshop-wrapper {
    margin: 0px 25px;
}

.java-wrapper:hover > #java-svg > .java-svg-path, .html-wrapper:hover > #html-svg > .html-svg-path-p,
.css-wrapper:hover > #css-svg > .css-svg-path-p, .js-wrapper:hover > #js-svg > .js-svg-path-p,
.mysql-wrapper:hover > #mysql-svg > .mysql-svg-path, .photoshop-wrapper:hover > #photoshop-svg > .photoshop-svg-path {
    fill: var(--clr-alternative) !important;
}

/* Projects */
.projects {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projects-title {
    font-size: 4rem;
    color: var(--clr-secondary);
    text-align: center;
}

/* Nerdwork */

.nerdwork {
    margin-top: 75px;
    width: 75vw;
    display: flex;
}

#nerdwork-img {
    margin-right: 25px;
}

.nerdwork-info {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    text-align: end;
}

#nerdwork-title {
    font-size: 2.5rem;
    color: var(--clr-secondary);
}

#nerdwork-title span, #nerdwork-bio span, #nerdwork-award span {
    color: var(--clr-alternative);
}

.nerdwork-text {
    margin-bottom: 20px;
}

#nerdwork-bio span, #nerdwork-award span {
    font-weight: 600;
}

#nerdwork-github-link {
    margin: auto;
    cursor: pointer;
    width: fit-content;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .75px;
    font-weight: 600;
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
}

/* Blackjack */

.blackjack {
    width: 75vw;
    display: flex;
}

#blackjack-img {
    margin-left: 25px;
}

.blackjack-info {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    text-align: start;
}

#blackjack-title {
    font-size: 2.5rem;
    color: var(--clr-secondary);
}

#blackjack-title span, #blackjack-bio span {
    color: var(--clr-alternative);
}

.blackjack-text {
    margin-bottom: 20px;
}

.blackjack-links {
    display: flex;
    justify-content: center;
}

#blackjack-github-link {
    cursor: pointer;
    width: fit-content;
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .75px;
    font-weight: 600;
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
    text-align: center;
}

#blackjack-play-link {
    cursor: pointer;
    width: fit-content;
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    font-size: .8rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .75px;
    font-weight: 600;
    color: var(--clr-primary);
    background-color: var(--clr-alternative);
    text-align: center;
}

#blackjack-bio span {
    font-weight: 600;
}

/* Footer */

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    height: 7.5vh;
    width: auto;
    background-color: var(--clr-secondary);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    transform: translateY(70%);
}

#footer-copy {
    color: var(--clr-primary);
}

.bottom-nav-ul {
    display: flex;
}

.bottom-nav-li a {
    margin: 20px;
    color: var(--clr-primary);
}

.bottom-nav-li a:hover {
    color: var(--clr-alternative) !important;
}

#footer-linkedin, #footer-github {
    margin: 0px 5px;
}

#footer-linkedin:hover > svg > path, #footer-github:hover > svg > path {
    fill: var(--clr-alternative) !important;
}