@use 'colors' as clr;
@use 'fonts' as ff;
@use 'section' as sec;

tools-svg-path {
    .tools-svg-path {
        fill: clr.$clrAlternative !important;
    }

    .tools-abbr {
        color: clr.$clrAlternative !important;
    }
}

#tools {
    @include sec.section();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #tools-title {
        color: clr.$clrSecondary;
        margin: 5vh 0;
        text: {
            align: center;
        }
        font: {
            size: 3vw;
        }
        span {
            color: clr.$clrAlternative;
        }
    }

    #tools-wrapper {
        width: 75%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        row-gap: 5vh;

        & > * {display: flex;
            flex-direction: column;
            row-gap: 1vh;
            margin: auto;

            svg {
                width: 7.5vw;
                height: auto;
            }
        }

        & > div .tools-abbr {
            text: {
                align: center;
            }
            font: {
                size: .85vw;
            }
        }

        & > .tools-inwrapper {
            &:hover {
                @extend tools-svg-path;
            }
        }
    }
}