@mixin projectMedia() {
    .project-outwrapper {
        row-gap: 2.5vh;

        .project-inwrapper {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;

            .project-img {
                width: 100%;
            }

            .project-info {
                margin: 1.5vh 0;

                .project-title {
                    font-size: 10vw;
                }

                .project-text {
                    font-size: 1.5vh;
                }
            }
        }

        .project-links {
            flex-direction: column;
            row-gap: 1vh;
            .project-github-link {
                width: 100%;
                font-size: 1.25vh;
            }

            .project-other1-link {
                width: 100%;
                font-size: 1.25vh;
            }
        }
    }
}