@mixin toolsMedia() {
    #tools {
        #tools-title {
            font-size: 10vw;
        }

        #tools-wrapper {
            & > * {
                svg {
                    width: 12.5vw;
                }
            }

            & > div .tools-abbr {
                display: none;
            }
        }
    }
}